<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-about---->
			<div class="about">
				<div class="about-grids">
					<div class="about-grid">
						<h3>About us</h3><h5> </h5><div class="clear"> </div>
						<%= image_tag("Logo.jpg")%>


  


						<span>TRAVELLAND MYANMAR TRAVELS & TOURS CO.LTD is operated in Yangon , Myanmar . </span><p>Our company MD and staffs  are all young  , educated and  energetic  . Our team is consist of trained tour operators , tourist guides and sale agents which can do inbound and outbound tourism . All of our local tourist guides are well experienced guides and most of them have been working in tourism  for more than 10 years .
						Our tour operators are highly trained in customer service accounts . We feel confident that we can provide our customers  a professional  and effective solution in timely manner . We  have extensive skills in the following areas : </p>
						<ul style="list-style-type: square;font-size:13px;padding-left:20px;">

							<li>Holiday & Tour packages </li>
							<li>Domestic and International air ticketing</li> 
							<li>Hotel reservation and transportation arrangement</li> 
							<li>Cooperate  travel arrangement </li>
							<li>Buddhism and Pilgrimage packages </li>
							<li>Travel Insurance </li>

						</ul>
					</div>
					<div class="about-grid center-grid1">
						<h3>WHY CHOOSE US?</h3><h5> </h5><div class="clear"> </div>
						<p>Pellenn dimentum sed, commodo vitae, ornare sit amet,lit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>
						<label>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. orem ipsum dolor sit amet</label>
						<p>tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetrornare sit amet, wisi. Aenean fermentum,</p>
						<label>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. orem ipsum dolor sit amet</label>
						<p>tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetrornare sit amet, wisi. Aenean fermentum,</p>
					</div>
					<div class="about-grid last-grid">
						<h3>Our Services</h3><h5> </h5><div class="clear"> </div>
							<div class="service-grid">
								<%= link_to program_path, :id => "pro" do %>
											<div class="serve-active">
											    <h4><%= image_tag("g2back.png", id:"t_service")  %>Destinations</h4>
											    <p>We provide best destinations to enjoy your holiday.</p>
											</div>
								<% end %>
							</div>

							<div class="service-grid">
								<%= link_to airticket_path, :id => "pro" do %>
											<div class="serve">
											    <h4><%= image_tag("airplaneback.png", id:"t_service") %>Air Ticketing</h4>
											    <p>We provide air ticketing service to help your travelling.</p>
											</div>
								<% end %>
							</div>

							<div  class="service-grid">
								<%= link_to program_path, :id => "pro" do %>
											<div class="serve">
											    <h4><%= image_tag("folder_home.png", id:"t_service") %>Hotels</h4>
											    <p>We provide hotel booking service to get cheap and best hotels.</p>
											</div>
								<% end %>
							</div>


							<div class="service-grid">
								<%= link_to carrentals_path, :id => "pro" do %>
											<div class="serve">
											    <h4><%= image_tag("carback.png", id:"t_service") %>Car Rentals</h4>
											    <p>We provide car rental service to get suitable transportation.</p>
											</div>
								<% end %>
							</div>
						
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<!---End-about---->
			<div class="clear"> </div>
	
		</div>
	</div>
	<div class="clear"> </div>