<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-about---->
			<div class="about">
				<div class="row">
					<div class="col-md-4" >
						
						<div class="services-sidebar">
							<h3>Travel with us</h3>
							 <ul>
					 		 	<li><%= image_tag("sidephoto1.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto2.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto3.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto4.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto5.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto6.JPG")%></li>
					 		 </ul>
					 		 	
						</div>

					</div>
					<div class="col-md-8" >
						
					 <div class="service-content"><br/>
						<h3 style="font-family:'Source Sans Pro', sans-serif;font-size:30px;">Our Car Rentals Services</h3><h5> </h5><div class="clear"> </div><br/>
						

							<ul>
								<li><span>1.</span></li>
								<li>
									<p id="title">Fullday ( Yangon ) </p>
									<p id="body">
										<table class="table">
										    <tr>
											  <td>Saloon ( 03 seat )</td>
											  <td>Super Custom ( 05 seat )</td>
											  <td>Hi ace  ( 09  seat )</td>
											  <td>Minibus ( 18 seat )</td>
											</tr>
											<tr>
											  <td>40000 Ks</td>
											  <td>55000 Ks</td>
											  <td>65000 Ks</td>
											  <td>98000 Ks</td>
											</tr>
									  </table>
									</p>
								</li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>2.</span></li>
								<li>
								<p id="title">Fullday ( Yangon- Thanlyin- Yangon ) </p>
								<p id="body">
									<table class="table">
										    <tr>
											  <td>Saloon ( 03 seat )</td>
											  <td>Super Custom ( 05 seat )</td>
											  <td>Hi ace  ( 09  seat )</td>
											  <td>Minibus ( 18 seat )</td>
											</tr>
											<tr>
											  <td>55000 Ks</td>
											  <td>80000 Ks</td>
											  <td>100000 Ks</td>
											  <td>120000 Ks</td>
											</tr>
									</table>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>3.</span></li>
								<li><p id="title">Fullday ( Yangon-Bago-Yangon )</p>
								<p id="body">
									<table class="table">
										    <tr>
											  <td>Saloon ( 03 seat )</td>
											  <td>Super Custom ( 05 seat )</td>
											  <td>Hi ace  ( 09  seat )</td>
											  <td>Minibus ( 18 seat )</td>
											</tr>
											<tr>
											  <td>85000 Ks</td>
											  <td>100000 Ks</td>
											  <td>120000 Ks</td>
											  <td>190000 Ks</td>
											</tr>
									</table>
								</p></li>
								<div class="clear"> </div>
							</ul>

							<ul>
								<li><span>4.</span></li>
								<li>
									<p id="title">02 days ( Yangon- Bago- Golden Rock- Yangon )</p>
									<p id="body">
										<table class="table">
										    <tr>
											  <td>Saloon ( 03 seat )</td>
											  <td>Super Custom ( 05 seat )</td>
											  <td>Hi ace  ( 09  seat )</td>
											  <td>Minibus ( 18 seat )</td>
											</tr>
											<tr>
											  <td>170000 Ks</td>
											  <td>220000 Ks</td>
											  <td>330000 Ks</td>
											  <td>385000 Ks</td>
											</tr>
									  </table>
									</p>
								</li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>5.</span></li>
								<li>
								<p id="title">02 days ( Yangon- Naypyidaw -Yangon ) </p>
								<p id="body">
									<table class="table">
										    <tr>
											  <td>Saloon ( 03 seat )</td>
											  <td>Super Custom ( 05 seat )</td>
											  <td>Hi ace  ( 09  seat )</td>
											  <td>Minibus ( 18 seat )</td>
											</tr>
											<tr>
											  <td>300000 Ks</td>
											  <td>400000 Ks</td>
											  <td>550000 Ks</td>
											  <td>650000 Ks</td>
											</tr>
									</table>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>6.</span></li>
								<li><p id="title">03 days ( Yangon -Naypyidaw-Yangon ) </p>
								<p id="body">
									<table class="table">
										    <tr>
											  <td>Saloon ( 03 seed )</td>
											  <td>Super Custom ( 05 seat )</td>
											  <td>Hi ace  ( 09  seat )</td>
											  <td>Minibus ( 18 seat )</td>
											</tr>
											<tr>
											  <td>350000 Ks</td>
											  <td>500000 Ks</td>
											  <td>650000 Ks</td>
											  <td>800000 Ks</td>
											</tr>
									</table>
								</p></li>
								<div class="clear"> </div>
							</ul>
							
						</div>

					</div>
				</div>
		    </div>

	    
	    </div>

</div>