<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-about---->
			<div class="about">
				<div class="row">
					<div class="col-md-4" >
						
						<div class="services-sidebar">
							<h3>Travel with us</h3>
							 <ul id="menu">
							  	<li id="active"><%= link_to 'Yangon Free and Easy Package', program_path, :id => "activelink" %>
							  	</li>
							  	<li><%= link_to 'HoChiMin City  to Yangon', program1_path %></li>
							  	<li><%= link_to 'Hanoi  to Yangon', program2_path %></li>
							  	<li><%= link_to 'Yangon - Mandalay - Bago - Golden Rock', program3_path %></li>
					 		 </ul> 
					 		 <h3>Photo</h3>
					 		 <ul>
					 		 	<li><%= image_tag("sidephoto1.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto2.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto3.JPG")%></li>
					 		 </ul>
					 		 	
						</div>

					</div>
					<div class="col-md-8"  >
						
					 <div class="service-content" id="servicecustom"><br/>
						<h3 style="font-family:'Source Sans Pro', sans-serif;font-size:30px;">Our Hotels</h3><h5> </h5><div class="clear"> </div><br/>
						

							<ul>
							<div id="hotel1">										
									<li><p id="title">THE STRAND HOTEL (5 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">SAVOY HOTEL (5 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">PANSEA HOTEL (4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">SEDONA HOTEL (4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">TRADERS HOTEL (4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">KANDAWGYI PALACE HOTEL (4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">PARK ROYAL HOTEL (4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">CHATRIUM HOTEL (4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">DUSIT INYA LAKE HOTEL(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">SUMMIT PARKVIEW HOTEL(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

							</div>
							<div id="hotel2">

									<li><p id="title">HOTEL YANGON(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">YUZANA GARDEN HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">ALFA HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">PALM SPRING RESORT(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">CENTRAL HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">PANORAMA HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">YUZANA HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">THAMADA HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Yangon</p></li>

									<li><p id="title">BAGO STAR HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bago</p></li>

							</div>
							<div id="hotel3">

									<li><p id="title">SHWE WA HTUN HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bago</p></li>

									<li><p id="title">GOLDEN ROCK HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Kyaikhtiyo</p></li>

									<li><p id="title">MOUNTAIN TOP HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Kyaikhtiyo</p></li>

									<li><p id="title">MOUNTAIN TOP HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Kyaikhtiyo</p></li>

									<li><p id="title">KYAIKHTO HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Kyaikhtiyo</p></li>

									<li><p id="title">NGWE MOE HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mawlamyine</p></li>

									<li><p id="title">ROYAL KAYTUMADI HOTEL(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Taungoo</p></li>

									<li><p id="title">AMAZING KAYTU HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Taungoo</p></li>

									<li><p id="title">MYANMAR THIRI HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Taungoo</p></li>

									<li><p id="title">Mandalay HILL RESORT HOTEL(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

							</div>
							<div id="hotel4">

									<li><p id="title">SEDONA HOTEL(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">RUPAR MANDALAR RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">THE HOTEL BY RED CANAL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">Mandalay SWAN HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">Mandalay CITY HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">HOTEL QUEEN(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">SILVER SWAN HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">HOTEL Mandalay (3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">NADI MYANMAR HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">EMERALD LAND INN(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">POWER HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

							</div>
							<div id="hotel5">					

									<li><p id="title">MYIT PHYAR AYER(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Mandalay</p></li>

									<li><p id="title">AUREUM RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :PyinOoLwin</p></li>

									<li><p id="title">DAT TAW GYAINT WATERFALL RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :PyinOoLwin</p></li>

									<li><p id="title">KANDAWGYI LODGE(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :PyinOoLwin</p></li>

									<li><p id="title">ROYAL PARK VIEW HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :PyinOoLwin</p></li>

									<li><p id="title">WIN UNITY HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :PyinOoLwin</p></li>

									<li><p id="title">WIN UNITY RESORT(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Monywa</p></li>

									<li><p id="title">MONYWA HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Monywa</p></li>

									<li><p id="title">POPA MOUNTAIN RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Popa</p></li>

									<li><p id="title">AUREUM PALACE HOTEL(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

						</div>
						<div id="hotel6">	

									<li><p id="title">THIRIPYITSAYA SANCTUARY RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">THE HOTEL @ THARABAR GATE(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">Bagan HOTEL RIVER VIEW(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">MYANMAR TREASURE RESORT(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">Bagan THANDE HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">AMAZING Bagan RESORT(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">THAZIN GARDEN HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">Bagan PRINCESS HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">KAYTUMADI DYNASTY HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

						</div>
						<div id="hotel7">	

									<li><p id="title">KUMUDARA HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">ARTHAWKA HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">KADAY AUNG HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">SKY PALACE HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">RUBY TRUE HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Bagan</p></li>

									<li><p id="title">AUREUM PALACE RESORT & SPA(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">SANDOWAY RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">AMAZING Ngapali RESORT & SPA(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">BAY VIEW RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">AMATA RESORT & SPA(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

						</div>
						<div id="hotel8">	

									<li><p id="title">THANDE BEACH HOTEL(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">AMARA OCEAN RESORT(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">PLEASANT VIEW RESORT(3 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">SILVER BEACH HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">LINN THAR OO HOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">ROYAL BEACH MOTEL(2 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Ngapali</p></li>

									<li><p id="title">HOTEL MAX(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Chaung Tha</p></li>

									<li><p id="title">BELLE RESORT(4 STARS)</p>
									<p id="body" style="color:black;">
									Destination :Chaung Tha</p></li>

						</div>

							<li>	
								<p id="title" ><br/>
									<a id="page1">Page 1</a> 
									<a id="page2">Page 2</a>
									<a id="page3">Page 3</a>
									<a id="page4">Page 4</a>
									<a id="page5">Page 5</a>
									<a id="page6">Page 6</a>
									<a id="page7">Page 7</a>
									<a id="page8">Page 8</a>
								</p>
							</li>
								
							<div class="clear"> </div>
						</ul>
							
						</div>

					</div>
				</div>
		    </div>

	    
	    </div>

</div>


<script>
	$("#page1").click(function(){

			  $("#hotel1").show();
			  $("#hotel2").hide();
			  $("#hotel3").hide();
			  $("#hotel4").hide();
			  $("#hotel5").hide();
			  $("#hotel6").hide();
			  $("#hotel7").hide();
			  $("#hotel8").hide();

	  });


	$("#page2").click(function(){

			  $("#hotel1").hide();
			  $("#hotel2").show();
			  $("#hotel3").hide();
			  $("#hotel4").hide();
			  $("#hotel5").hide();
			  $("#hotel6").hide();
			  $("#hotel7").hide();
			  $("#hotel8").hide();

	  });


	$("#page3").click(function(){

			  $("#hotel1").hide();
			  $("#hotel2").hide();
			  $("#hotel3").show();
			  $("#hotel4").hide();
			  $("#hotel5").hide();
			  $("#hotel6").hide();
			  $("#hotel7").hide();
			  $("#hotel8").hide();

	  });


	$("#page4").click(function(){

			  $("#hotel1").hide();
			  $("#hotel2").hide();
			  $("#hotel3").hide();
			  $("#hotel4").show();
			  $("#hotel5").hide();
			  $("#hotel6").hide();
			  $("#hotel7").hide();
			  $("#hotel8").hide();

	  });


	$("#page5").click(function(){

			  $("#hotel1").hide();
			  $("#hotel2").hide();
			  $("#hotel3").hide();
			  $("#hotel4").hide();
			  $("#hotel5").show();
			  $("#hotel6").hide();
			  $("#hotel7").hide();
			  $("#hotel8").hide();

	  });


	$("#page6").click(function(){

			  $("#hotel1").hide();
			  $("#hotel2").hide();
			  $("#hotel3").hide();
			  $("#hotel4").hide();
			  $("#hotel5").hide();
			  $("#hotel6").show();
			  $("#hotel7").hide();
			  $("#hotel8").hide();

	  });


	$("#page7").click(function(){

			  $("#hotel1").hide();
			  $("#hotel2").hide();
			  $("#hotel3").hide();
			  $("#hotel4").hide();
			  $("#hotel5").hide();
			  $("#hotel6").hide();
			  $("#hotel7").show();
			  $("#hotel8").hide();

	  });


	$("#page8").click(function(){

			  $("#hotel1").hide();
			  $("#hotel2").hide();
			  $("#hotel3").hide();
			  $("#hotel4").hide();
			  $("#hotel5").hide();
			  $("#hotel6").hide();
			  $("#hotel7").hide();
			  $("#hotel8").show();

	  });
	</script>
