<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-about---->
			<div class="about">
				<div class="row">
					<div class="col-md-4" >
						
						<div class="services-sidebar">
							<h3>Travel with us</h3>
							 <ul id="menu">
							  	<li><%= link_to 'Yangon Free and Easy Package', program_path%>
							  	</li>
							  	<li><%= link_to 'HoChiMin City  to Yangon', program1_path %></li>
							  	<li id="active"><%= link_to 'Hanoi  to Yangon', program2_path, :id => "activelink"  %></li>
							  	<li><%= link_to 'Yangon - Mandalay - Bago - Golden Rock', program3_path %></li>
					 		 </ul> 
					 		 <h3>Photo</h3>
					 		 <ul>
					 		 	<li><%= image_tag("sidephoto1.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto2.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto3.JPG")%></li>
					 		 </ul>
					 		 	
						</div>

					</div>
					<div class="col-md-8" >
						
					 <div class="service-content"><br/>
						<h3 style="font-family:'Source Sans Pro', sans-serif;font-size:30px;">Special offer 2015</h3><h5> </h5><div class="clear"> </div><br/>
						

								<ul>
								<li><span>1.</span></li>
								<li><p id="title">Hanoi  to Yangon</p>
								<p id="body">
									<h4>Day 1  -   Hanoi  to Yangon  by   Vietnam Airline</h4>
										<p><span id="clock"></span>18 : 10 h  : Landed Yangon International airport .  </p> 
										<p><span id="clock"></span>18 : 30 h  : Immigration clearance .  Meet and welcome by local  tour guides and local  tour manager . </p>
										<p><span id="clock"></span>19 : 00 h  : Dinner  TEN  MINE  Chinese  restaurant .  </p>
										<p><span id="clock"></span>20: 00 h   : Hotel Check In  .Stay overnight  in  Yangon .  </p>

									<h4>Day 2 –  Yangon to Sein Lei Tin Resort  with sightseeing in Bago</h4>
										<p><span id="clock"></span>06 : 30 h   :  Breakfast at hotel  </p>
										<p><span id="clock"></span>07 : 00 h   :  Leave  Hotel  and driving to Bago  which is approximately  80 Kms north of Yangon .  </p>
										<p><span id="clock"></span>08 : 00 h :  Photo stop at Htauk Kyant  war cemetery compound .  It was built in 1951. It is a memorial                               cemetery of the Allied soldiers who died in the Myanmar Campaign during World War II. The cemetery is peaceful and its beautifully kept grounds has 27,000 stone graves of fallen Commonwealth and Allied soldiers.</p>
										<p><span id="clock"></span>10 : 00 h  : See  the Shwemawdaw Pagoda or 'Great Golden God Pagoda' was built around 1000 years ago and located in Bago, Myanmar. It is one of the famous Mon pagodas.  </p> 
										<p><span id="clock"></span>10 : 45 h   : Observe  daily life of Burmese monks  at the Kyak Kha Wine monastery which Is one of the largest teaching monasteries in Myanmar . More than 7000 monks have been staying Buddha’s  teaching . </p>
										<p><span id="clock"></span>11 : 45 h   : Visit Kyaikpun Pagoda has four gigantic Buddha images all in sitting back to back against a brick pillar. This pagoda was buit by King Dhammazedi in A.D. 1476. It is located several miles from the city of Bago and a few hundred feet off the Yangon-Bago road. This unusual and impressive images are 27 meters height and keep in a fair state of preservation.</p>
										<p><span id="clock"></span>12 : 30  h    :  Lunch at Kyaw Swa  restaurant .</p> 
										<p><span id="clock"></span>14 : 00  h    : Continue driving to the nearest town from Golden Rock pagoda .</p> 
										<p><span id="clock"></span>16 : 00  h   :  Arrive  Sane Le Tin Resort Hotel which is just 12 miles from Golden Rock  pagoda, and 104 miles from Yangon, standing on a spacious plot of 50 acres of perennial vegetation, so vast and quit. It is  only a 15 minute drive to the famous Golden Rock  pagoda . </p>
										<p><span id="clock"></span>17 : 00 h  : There is a mini  zoological garden in this hotel compound . If you want, you can see and feed  some  animals .</p> 
										<p><span id="clock"></span>19 : 00 h   :  Dinner at Sein Lei Tin  Resort .  Stay overnight at this hotel . </p> 

									<h4>Day  03  - Sein Lei Tin resort  to Golden Rock pagoda and drive back to Yangon</h4>
										<p><span id="clock"></span>06: 30   : Breakfast at hotel </p>
										<p><span id="clock"></span>07: 00   : Leave Hotel for 30 minutes drive to the based camp of the Golden Rock mountain .</p>
										<p><span id="clock"></span>08 : 00  : Take open  local truck  to top of the mountain . </p>
										<p><span id="clock"></span>09 : 00  :  Pilgrim and sightseeing in the Golden Rock pagoda compound </p>
										<p><span id="clock"></span>10 : 30  :  Take open local truck  back to based camp . </p>
										<p><span id="clock"></span>12 : 00  :  Lunch at Sein Lei Tin Resort Hotel . </p>
										<p><span id="clock"></span>14 : 30 : Continue sightseeing in Bago with visit to Kanbawzathadi Palace was built by King Bayinnaung (1551-1581 A.D.) the founder of the second Myanmar Empire. The first Hantharwaddy city was shifted to new place and the king rebuilt the new palace to the south of the Shwemawdaw Pagoda and named Kanbawzathadi in 1556. </p> 
										 <p><span id="clock"></span>15 : 00 :  See Shwethalyaung Reclining Buddha Image is well known in Bago and located in the west side of the city. Built by the Mon in 994 during the reign of Mon King Migadepa.</p>
										<p><span id="clock"></span>16 : 00  : Drive back to Yangon .  Check In Hotel . </p>
										<p><span id="clock"></span>19 : 00  : Dinner at Bangkok Kitchen  Thai restaurant . </p>
										<p><span id="clock"></span>20 : 30  : Overnight at hotel in Yangon .  </p>

									<h4>Day 4 -   Yangon  City tour  with  Buddhist centers visits</h4>
										<p><span id="clock"></span>08 : 00 h   :  Breakfast at hotel  </p>
										<p><span id="clock"></span>08 : 30 h  : Visits  International  Buddhist meditation centers . Founded in 1952  .Showing how people from all parts of society can successfully use meditation .</p> 
										<p><span id="clock"></span>10 : 00 h  : Visits , Sule Paya is located in the centre of downtown and is an octagonal Mon-style pagoda. Throughout the day Sule Paya is busy with local pilgrims and monks who come to pray and pay their respects to the Buddha relic . </p>
										<p><span id="clock"></span>11 : 00 h : Visit  Chauk-htat-kyi Phaya; a huge life-like reclining Buddha statue surrounded by Buddhist monasteries. It is one of Myanmar’s more revered reclining Buddhas .  </p>
										<p><span id="clock"></span>12 : 30 h   : Lunch at Western Park  I  restaurant with Chinese set menu . </p>
										<p><span id="clock"></span>14 : 00 h  : Free for shopping  in the Bogyoke Aung San Market , a major tourist destination, dominated by antique, Burmese handicraft and jewellery shops, art galleries, and clothing stores.</p>
										<p><span id="clock"></span>16 : 00 h  : You'll visit the greatest golden  Shwedagon Pagoda, where the remaining relics were enshrined. This 99-metre high golden temple is one of Myanmar's most iconic sites. Visit around the temple, which is also likely to be busy with local pilgrims, and learn about the myths and beliefs surrounding this pagoda.</p>
										<p><span id="clock"></span>19 : 00 h   : Dinner at Jim Boa  Chinese restaurant . </p>
										<p><span id="clock"></span>20 : 30 h   : Overnight  at hotel in Yangon . </p>

									<h4>Day 5  -  Yangon City Tour -  Departure Flight </h4>
										<p><span id="clock"></span>08: 00 h   : Breakfast at hotel . </p>
										<p><span id="clock"></span>08 : 30 h  :  Visit International Theravada Buddhist University . The University is newly established in 1998. It is a permanent centre of higher learning of Theravada Buddhism. Myanmar has carefully preserved Theravada Buddhism for nearly one thousand years. </p>
										<p><span id="clock"></span>09 : 30 h :  Visit Buddha tooth relic temple  was enshrined in the Swe Taw Myat Pagoda on Dhammapala Hillock in Mayangone Township, Yangon. The pagoda was buil with cash donations contributed by the people of Myanmar and Buddhis donors of entire world.</p>
										<p><span id="clock"></span>10 : 30 h :  Visit Kabar Aye  Pagoda was erected by U Nu, one of the earliest prime ministers of free Myanmar in 1954 in dedication to the Sixth Buddhist Council (1954-56). The Sixth Buddhist Council was held to mark the 2500 birth anniversary of Buddha's enlightenment. The Pagoda rises to a height of 111-feet and measures 34 meters around the base. The compound in which the pagoda stands is big enough and houses a number of monasteries within. </p>
										<p><span id="clock"></span>11 : 30 h :  Drive back to hotel and  Check Out . </p>
										<p><span id="clock"></span>12 : 30 h  :  Lunch at local restaurant in Yangon . ( may be Vietnamese food )</p> 
										<p><span id="clock"></span>14 : 00 h :  Kyauk Taw Gyi world biggest marble Buddha Images in Myanmar with a height of 37ft (11m) and a weight of weighs over 600 tons. The classical name of this Image is Lawkachantha Abaya Labamuni, meaning World Peace and Prosperity. This Sitting Buddha Image is curved out from a single marble stone. </p>
										<p><span id="clock"></span>15 : 00 h : Free for shopping in the one of the nearest shopping centre from Yangon airport . </p>
										<p><span id="clock"></span>16 : 00 h : Transfer to  Yangon international airport  .</p>
										<p><span id="clock"></span>16 : 30 h : Check In Vietnam airline counter for your departure flight . </p>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>2.</span></li>
								<li><p id="title">Tour price net per person in US $ (*** Valid  until 31 December’2014 ***)</p>
								<p id="body">
									<table class="table">
									    <tr>
										  <td>USD 370</td>
										  <td>( Based on 10- 15 pax + 01 T/L )</td>
										</tr>
										<tr>
										  <td>USD 343 </td>
										  <td>( Based on 16 – 20 pax + 01 T/L )</td>
										  
										</tr>
										<tr>
										  <td>USD 337</td>
										  <td>( Based on 21 - 35 pax + 01 T/L )</td>
										  
										</tr>
										<tr>
										  <td>USD 142</td>
										  <td>Single Supplement</td>
										  
										</tr>
									  </table>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>3.</span></li>
								<li><p id="title">INCLUSIONS</p>
								<p id="body">
										<p>* 03 star Hotel rooms based on twin/ double sharing</p>
										<p>* Private transfer and transportation  by A/C vehicles and open truck </p>
										<p>* English speaking guide ( Vietnamese speaking guide available upon request ) </p>
										<p>* Meals indicated in the itinerary (B = Breakfast, L = Lunch, D = Dinner)</p>
										<p>* All Entrance and zone  fees where applied</p>
										<p>* Drinking Water bottles and tissues Free flow  on coaches  </p>
										<p>* Guests arrival gift </p>
										<p>* Government tax & Service charges </p>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>4.</span></li>
								<li><p id="title">EXCLUSION</p>
								<p id="body">
									<p>*Myanmar Visa </p>
									<p>* International flight In/ Out </p>
									<p>* Personal expense </p>
									<p>* Tips and gratuities </p>
									<p>* Others services not indicated</p>
								</p></li>
								<div class="clear"> </div>
							</ul>
							
						</div>

					</div>
				</div>
		    </div>

	    
	    </div>

</div>