<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-about---->
			<div class="about">
				<div class="row">
					<div class="col-md-4" >
						
						<div class="services-sidebar">
							<h3>Travel with us</h3>
							 <ul id="menu">
							  	<li id="active"><%= link_to 'Yangon Free and Easy Package', program_path, :id => "activelink" %>
							  	</li>
							  	<li><%= link_to 'HoChiMin City  to Yangon', program1_path %></li>
							  	<li><%= link_to 'Hanoi  to Yangon', program2_path %></li>
							  	<li><%= link_to 'Yangon - Mandalay - Bago - Golden Rock', program3_path %></li>
					 		 </ul> 
					 		 <h3>Photo</h3>
					 		 <ul>
					 		 	<li><%= image_tag("sidephoto1.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto2.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto3.JPG")%></li>
					 		 </ul>
					 		 	
						</div>

					</div>
					<div class="col-md-8" >
						
					 <div class="service-content"><br/>
						<h3 style="font-family:'Source Sans Pro', sans-serif;font-size:30px;">Special offer 2015</h3><h5> </h5><div class="clear"> </div><br/>
						

							<ul>
								<li><span>1.</span></li>
								<li>
									<p id="title">Yangon Free and Easy Package ( 03 Days )</p>
									<p id="body">
										<h4>Day 01. Arrival Yangon</h4>
										<p>Arrive yangon international airport. Meet and welcome by driver. Private car transfer to hotel for check in. Overnight at hotel.</p></br>
										<h4>Day 02. Yangon ( B )</h4></br>
										<p>Breakfast at hotel. Free and easy. Overnight at hotel.</p></br>
										<h4>Day 03. Departure Yangon( B )</h4></br>
										<p>Breakfast at hotel. Transfer to airport for your departure flight.</p></br>
									</p>
								</li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>2.</span></li>
								<li>
								<p id="title">Hotel</p>
								<p id="body">
									<h4>03 Star : Diamond Crown Hotel ( <a href="http://www.diamondcrownhotel.com">www.diamondcrownhotel.com</a> ) </h4>
									<div class="table-responsive">
									  <table class="table">
									    <tr>
										  <td>Currency : USD</td>
										  <td>Adult</td>
										  <td>Adult</td>
										  <td>Adult</td>
										  <td>Child</td>
										  <td>Child</td>
										</tr>
										<tr>
										  <td>Room Type</td>
										  <td>Single</td>
										  <td>Twin</td>
										  <td>Triple</td>
										  <td>With Extra Bed</td>
										  <td>Without Extra Bed </td>
										</tr>
										<tr>
										  <td>03 Star</td>
										  <td>210</td>
										  <td>120</td>
										  <td>115</td>
										  <td>70</td>
										  <td>30</td>
										</tr>
									  </table>
									</div>
									<h4>04 Star : Parami Hotel ( <a href="http://www.hotelparamiyangon.com">www.hotelparamiyangon.com</a> )</h4>
									<div class="table-responsive">
									  <table class="table">
									    <tr>
										  <td>Currency : USD</td>
										  <td>Adult</td>
										  <td>Adult</td>
										  <td>Adult</td>
										  <td>Child</td>
										  <td>Child</td>
										</tr>
										<tr>
										  <td>Room Type</td>
										  <td>Single</td>
										  <td>Twin</td>
										  <td>Triple</td>
										  <td>With Extra Bed</td>
										  <td>Without Extra Bed </td>
										</tr>
										<tr>
										  <td>04 Star</td>
										  <td>350</td>
										  <td>180</td>
										  <td>170</td>
										  <td>160</td>
										  <td>40</td>
										</tr>
									  </table>
									</div>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>3.</span></li>
								<li><p id="title">Our Service Includes:</p>
								<p id="body">
								<p>* 02  nights accommodation</p>
								<p>* Daily buffet  breakfast</p>
								<p>* Roundtrip  airport transfer with private air-conditioned vehicles </p>
								</p></li>
								<div class="clear"> </div>
							</ul>
							
						</div>

					</div>
				</div>
		    </div>

	    
	    </div>

</div>