<div class="content">
		<div class="wrap">
			<div class="clear"> </div>
			<!---start-about---->
			<div class="about">
				<div class="row">
					<div class="col-md-4" >
						
						<div class="services-sidebar">
							<h3>Travel with us</h3>
							<ul id="menu">
							  	<li><%= link_to 'Yangon Free and Easy Package', program_path%>
							  	</li>
							  	<li><%= link_to 'HoChiMin City  to Yangon', program1_path %></li>
							  	<li><%= link_to 'Hanoi  to Yangon', program2_path %></li>
							  	<li id="active"><%= link_to 'Yangon - Mandalay - Bago - Golden Rock', program3_path, :id => "activelink"  %></li>
					 		 </ul> 
					 		 <h3>Photo</h3>
					 		 <ul>
					 		 	<li><%= image_tag("sidephoto1.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto2.JPG")%></li>
					 		 	<li><%= image_tag("sidephoto3.JPG")%></li>
					 		 </ul>
					 		 	
						</div>

					</div>
					<div class="col-md-8" >
						
					 <div class="service-content"><br/>
						<h3 style="font-family:'Source Sans Pro', sans-serif;font-size:30px;">Special offer 2015</h3><h5> </h5><div class="clear"> </div><br/>
						

							<ul>
								<li><span>1.</span></li>
								<li><p id="title">Yangon - Mandalay - Bago- Golden Rock ( 06 DAYS  / 05 NIGHTS )</p>
								<p id="body">
										<h4>Day 01 : Arrival Yangon ( - /  -  / D )</h4>
											<p>Arrive in Yangon International airport, meet and welcome by local guide . Transfer to local restaurant for dinner .Check In Hotel .  Overnight in Yangon . </p>
										<h4>Day 02 : Yangon - Mandalay ( B / L / D ) Early Morning Flight</h4>
											<p>Early morning, take domestic flight to Mandalay. Upon arrival, drive to Amarapura‐once a royal city and now it is where the best craftsmen of the country have their ateliers ; enjoy the great serenity of U Bein wooden Bridge constructed in 1849 is about three quarter of a mile with 1086 posts ; and photo stop at Mahaganthayon monastery the largest teaching monastery in Myanmar . Mandalay city tour include : Mahar Myat Muni Buddha Image ‐the most ancient Buddha image castled in bronze in Myanmar and then continue to Kuthodaw Pagoda complex ‐the largest book in the world ( 792 stone tablets into which are inscribed the entire Buddhist canon are completed in 1878 ) . If time permit you , you guide will bring you to traditional tapestry work shops . ( Materials used in embroidery and appliqué workers include, golden silvery thread, sequins (plastic metal) velvet, satin, colored cloth, and glue from sticky rice ).Finish the tour in Mandalay by visiting Mandalay Hill to enjoy the panoramic view of Mandalay City and surrounding area .Overnight in Mandalay . </p>
										<h4>Day 03 : Mandalay - Pyin Oo Lwin ( Flower City ) - Mandalay ( B / L / D )</h4>
											<p>Pyin Oo Lwin flower city : offers visitors cool days and nights, peaceful rural roads and tracks for walkers and cyclists, trekking in the fruit and flower producing countryside, and interesting shopping. Old times can be re‐lived with coach rides, and many historical and beautiful places are within easy reach. Just over an hour's drive from Mandalay, and with spectacular views from the road up the escarpment, Pyin Oo Lwin is an ideal and refreshing destination for visitors to Upper Myanmar. Morning after breakfast , drive to Pyin Oo Lwin flower city , a popular hill station about 69km away from Mandalay and it is well known for its colonial style houses with large compound and pine trees, eucalyptus and silver‐oak abound in town. Visit Botanical garden where 4840 trees mostly pine varieties, 575 different floral species and many exotic fruit, flower and shade trees from abroad were acclimatized to grow and Peik Chin Myaung water fall ,called Peik Chin Plants Ravine cave water fall as plenty of Peik Chin plants used to grow there, letting no light inside .There are also Buddha images and pagodas in corners and niches . Overnight in Mandalay . </p>
										<h4>Day 04 : Mandalay - Yangon - Sein Lei Tin Resort ( B / L / D ) Early morning flight</h4>
											<p>Early morning ,   transfer to Mandalay  airport  for flying back to Yangon .  Upon  arrival Yangon ,drive to Bago , an ancient capital of 16th century Mon Kingdom ( 80 KM- 1 ½ hours ) . Visit  “Shwe Maw Daw Pagoda” was originally built by the Mon to a height to 23 meters in the 8th century and was rebuilt higher several times until it finally reached its present 114 meter stature in 1954, the highest pagoda in Myanmar.  Then  ,Continue driving to the nearest town from Golden Rock pagoda . Arrive  Sane Le Tin Resort Hotel which is just 12 miles from Golden Rock  pagoda, and 104 miles from Yangon, standing on a spacious plot of 50 acres of perennial vegetation, so vast and quit. It is  only a 20 minute drive to the famous Golden Rock  pagoda . There is a mini  zoological garden in this hotel compound . If you want, you can see and feed  some  animals . Dinner at Sein Lei Tin  Resort .  Stay overnight at this hotel .   </p>
										<h4>Day 05 : Sein Lei Tin Resort - Golden Rock – Yangon ( B / L / D )</h4>
											<p>Breakfast at hotel .Leave Hotel for 20 minutes drive to based camp of the Golden Rock mountain .Take open  local truck  to top of the mountain .  Pilgrim and sightseeing in the Golden Rock pagoda compound .Take open local truck  back to based camp .  Lunch at Sein Lei Tin Resort Hotel .  Continue sightseeing in Bago with visit to Kanbawzathadi Palace was built by King Bayinnaung (1551-1581 A.D.) the founder of the second Myanmar Empire  . See Shwethalyaung Reclining Buddha Image is well known in Bago and located in the west side of the city. Built by the Mon in 994 during the reign of Mon King Migadepa. Drive back to Yangon . In the evening,  visit to the magnificent Shwedagon pagoda, landmark of Myanmar and one of the greatest wonders of the world .( 2500 years old world famous Golden Stupa where the dome shape rises 100 meters above its base). Overnight in Yangon .</p>
										<h4>Day 06 : Yangon – City tour - Departure ( B  / L /-  )</h4>
											<p>Morning after breakfast  , And take relaxation in the Kandawgyi Nature park . It  is a popular recreation centre of the capital of Yangon. The area of the Garden is 110 acres, water areas is 150 acres, which makes it a total of 260 acres . Then ,shopping in the  Bogyoke market formerly "Scott market", where you can get a wide range of Myanmar handicraft, jewelries, fabrics, lacquer wares and so on . If you want , your guide will bring you to  some handicraft shops  and the most famous MK gems shop where the qualities of gems are displayed separately in eight different decorated show rooms. Myanmar is the world number 1 producer of precious stones . Free and easy  in a local  shopping centre  before transfer to airport for departure.</p>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>2.</span></li>
								<li><p id="title">Tour price net per person in US $ (*** Valid  until 31 December’2014 ***)</p>
								<p id="body">
									<table class="table">
									    <tr>
										  <td>USD 785</td>
										  <td>( Based on 10- 15 pax + 01 T/L )</td>
										</tr>
										<tr>
										  <td>USD 650 </td>
										  <td>( Based on 16 – 20 pax + 01 T/L )</td>
										  
										</tr>
										<tr>
										  <td>USD 620</td>
										  <td>( Based on 21 - 35 pax + 01 T/L )</td>
										  
										</tr>
										<tr>
										  <td></td>
										  <td>Single Supplement</td>
										</tr>
									  </table>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>3.</span></li>
								<li><p id="title">Tour Package Includes:</p>
								<p id="body">
									<p>* 03 star Hotel accommodation (Twins or Double sharing ) with breakfast </p>
									<p>* All transfers & transportation by private air-conditioned car</p>
									<p>* Domestic flight tickets  (Yangon- Mandalay – Yangon  )</p>
									<p>* English speaking guides ( Vietnamese speaking guide is available upon request )     </p>
									<p>* All entrance and zone fees as mentioned</p>
									<p>* Meals as indicated ( B = Breakfast / L = Lunch   / D = Dinner ) </p>
									<p>* Porter charges at the airports and hotels  </p>
									<p>* Two bottles of drinking water and towels on coaches daily</p>
									<p>* All government and services taxes</p>
									<p>* Welcoming arrival gift</p>
								</p></li>
								<div class="clear"> </div>
							</ul>
							<ul>
								<li><span>4.</span></li>
								<li><p id="title">Tour Package Excludes:</p>
								<p id="body">
									<p>* International flights in / out</p>
									<p>* Personal expense ( Camera fee, laundry , soft drink , tips etc.. )</p>
									<p>* Visa arrangements for Myanmar</p>
									<p>* Any other items not mentioned</p>
								</p></li>
								<div class="clear"> </div>
							</ul>
							
						</div>

					</div>
				</div>
		    </div>

	    
	    </div>

</div>